<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
  </mat-sidenav>
  <ng-container *ngIf="sesion$ | async as sesion">
    <div *ngIf="sesion.sesionActiva">
      <mat-nav-list>
        <a mat-list-item routerLink="form-alumnos">Nuevo alumno</a>
        <a
          mat-list-item
          routerLink="lista-alumnos"
          routerLinkActive="Active"
          ariaCurrentWhenActive="page"
          >Listado</a
        >
        <a mat-button routerLink="">Inicio</a>
        <!-- <a mat-button routerLink="autenticacion/login">Login</a> -->

        <a mat-button routerLink="cursos/agregar">Nuevo curso</a>
        <a
          mat-button
          routerLink="usuarios"
          *ngIf="sesion.usuarioActivo?.canLoad"
          >Usuarios</a
        >
      </mat-nav-list>
    </div>

    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>coderMouse {{ sesion.usuarioActivo?.usuario }}</span>
        <span class="spacer"></span>
        <mat-icon aria-label="Home icon">home</mat-icon>
        <a
          routerLink="home"
          routerLinkActive="Active"
          ariaCurrentWhenActive="page"
          >Home</a
        >
        <a mat-list-item routerLink="autenticacion/login" (click)="onLogin()"
          >Log in</a
        >
      </mat-toolbar>
    </mat-sidenav-content>
  </ng-container>
</mat-sidenav-container>
<mat-toolbar>Alumnos</mat-toolbar>
<mat-nav-list>
  <a mat-button routerLink="cursos">Cursos</a>
  <a mat-button routerLink="cursos/listar">Lista cursos</a>
</mat-nav-list>

<div>
  <router-outlet></router-outlet>
</div>
<!-- necesito un contenedor acá para setear el padding etc. -->
