.alumno-table {
  width: 95%;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: 24px;
  margin-right: 36px;
}

.mat-column-id {
  width: 24px;
  border-right: 1px solid currentColor;
  padding-right: 10px;
  text-align: center;
}

.mat-column-nombre {
  padding-left: 16px;
  padding-right: 24px;
}

.mat-column-email {
  font-style: italic;
  padding-left: 16px;
  padding-right: 24px;
}

.mat-column-edad {
  width: 32px;
  padding-left: 16px;
  padding-right: 24px;
  text-align: center;
}
.titulo {
  padding-left: 16px;
  padding-right: 16px;
  margin-left: 24px;
  margin-right: 36px;
  text-align: center;
}
p {
  padding-top: 30px;
  padding-bottom: 30px;
}
