<h3 appGiveMe20>Notas de la segunda entrega</h3>

<p class="alert alert-warning">
  Se crea projecto con Angular CLI, con navbar y menu lateral, y un toolbar. El
  componente de lista de alumnos utiliza mockapi.io para obtener los alumnos
  utilizando un servicio para la llamada HTTP. La primera respuesta es muy lenta
  y parece no funcionar, luego tarda aprox 1-2 segundos. No pude encontrar la
  causa de las fallas en el agregado o actualización de alumnos en mockapi.io a
  pesar de que los endpoints funcionan con Postman. En la clase del 27/10/2022
  el profesor tuvo el mismo problema y finalmente encontró la solución
  (subscribe) por lo que actualizaré esta entrega implementando esa solución.
  Implementado modulo shared, y el feature module de alumnos, aunque resta
  completar el ABM por haberme trabado con el bug mencionado. Usé un router y
  routerlinks para los enlaces a los componentes, lo mas basico. Me costó
  utilizar router para modulos.
</p>

<p class="alert alert-danger">
  En conclusión, como falla principal queda el abm incompleto del form de alumno
  que me falla con observables y la mockapi, pero ya tengo que entregar y seguir
  mi trabajo, para re-estudiar el tema y verlo con más tiempo.
</p>
